@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:"#f1f5ff";
  color: var(--foreground);
  font-family: var(--font-poppins);
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins);
}
