@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-jost: "Jost", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f1f5ff; /* ✅ no quotes */
  color: var(--foreground);
  font-family: var(--font-jost); /* ✅ use Jost font variable */
}

.font-jost {
  font-family: var(--font-jost);
}
